<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.my.batis.dao.UserMapper">
    <select id="findAll" resultType="com.my.batis.bean.User">
        select id,name,age from user
    </select>

    <select id="getUser"  resultType="com.my.batis.bean.User">
        select id,name,age from user where id = #{id}
    </select>

    <insert id="insertUser" resultType="java.lang.Integer">
        insert into user (name,age) values (#{name},#{age})
    </insert>

    <update id="updateByUser" resultType="java.lang.Integer">
        update user set name = #{name} , age = #{age} where id = #{id}
    </update>

    <delete id="deleteByUserById"  resultType="java.lang.Integer">
        delete from user where id = #{id}
    </delete>
</mapper>